.controlPanelMain {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    padding-top: 30px;
}

.controlPanelMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.controlPanelMenu button{
    width: 150px;
    height: 45px;
    margin: 10px 0px;
}

.controlPanelContent {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
  