@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Raleway&family=Source+Sans+Pro&family=Ubuntu&display=swap');

.controlPanelMain {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    margin: 30px;
}

.controlPanelMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 0px 15px;
}

.controlPanelContentBox {
    padding: 15px;
    background-color: brown;
    /* justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column; */
}

.controlPanelContent {
    background-color: aquamarine;
}

.controlPanelSubButton {
    width: 150px;
    height: 45px;
    margin: 5px 0px;
    background-color: #f1f1f1;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #3366CC;
    color: #3366CC;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Source Sans Pro', sans-serif;
}

.controlPanelSubButton:hover {
    background-color: #3366CC;
    /* border: 1px solid #f1f1f1; */
    border-bottom: 3px solid #f1f1f1;
    color: #f1f1f1;
}

.controlPanelSubButton:active {
    background-color: #f1f1f1;
    border-bottom: 3px solid #3366CC;
    color: #3366CC;
    -webkit-transform: translateY(4px);
	transform: translateY(4px);
    transition: 0s;
}


.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
  

/* 
Blue: #3366cc
White: #f1f1f1
*/