@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Raleway&family=Source+Sans+Pro&family=Ubuntu&display=swap');

.controlPanelMain {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin: 30px;
    gap: 30px;
}

.controlPanelMenu {
    background-color: #3366ccb6;
    border-radius: 10px;
    border-style: solid;
    border-color: #3C51BB;
    border-width: 0px 3px 0px 3px; /* top, right, bottom, left */
    min-width: 150px;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.controlPanelMenu button {
    width: 100%;
}

.controlPanelMenuSectionTitle {
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.controlPanelMenuSectionTitle h4 {
    color: black;
    transition: 1s;
}

.controlPanelMenuSectionTitle h4:hover {
    color: rgb(4, 197, 223);
}

.controlPanelContentBox {
    padding: 15px;
    background-color: #3366cc45;
    border-radius: 10px;
    border-style: solid;
    border-color: #3C51BB;
    border-width: 0px 3px 0px 3px; /* top, right, bottom, left */
}

/* .controlPanelContent {
} */

.controlPanelContentTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* .controlPanelContentCharts {
} */

.chart {
    width: 70%;
    margin: 0 auto;
}

.controlPanelSubButton {
    width: 150px;
    height: 45px;
    margin: 5px 0px;
    background-color: #f1f1f1;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #3366CC;
    color: #3366CC;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Source Sans Pro', sans-serif;
}

.controlPanelSubButton:hover {
    background-color: #3366CC;
    /* border: 1px solid #f1f1f1; */
    border-bottom: 3px solid #f1f1f1;
    color: #f1f1f1;
}

.controlPanelSubButton:active {
    background-color: #f1f1f1;
    border-bottom: 3px solid #3366CC;
    color: #3366CC;
    -webkit-transform: translateY(4px);
	transform: translateY(4px);
    transition: 0s;
}


.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@media (min-width: 200px) and (max-width: 750px) {
    .controlPanelMain {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 0.1fr 1fr;
        margin: 30px;
        gap: 30px;
    }

    .controlPanelContentCharts {
        width: 100%;
    } 

    .controlPanelMenu {
        max-width: 100%;
    }
}

@media (min-width: 200px) and (max-width: 400px) {
    .controlPanelMain {
        margin: 0px;
        gap: 0px;
    }

    .controlPanelContentBox {
        border-radius: 0px;
    }

    .controlPanelMenu {
        border-radius: 0px;
        margin-top: 50px;
        max-width: 100%;
        display: flex;
        background-color: #3366ccb6;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    /* .controlPanelMenu {
        background-color: #3366ccb6;
        border-radius: 10px;
        border-style: solid;
        border-color: #3C51BB;
        border-width: 0px 3px 0px 3px; top, right, bottom, left 
        min-width: 150px;
        max-width: 200px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    } */
}


/* 
Blue: #3366cc
White: #f1f1f1
*/

/* @media (min-width: 200px) and (max-width: 1050px){

} */